* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: darkslategray;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 10px;
    font-size: 24px;
}
.highscores-header {
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding: 10px;
    font-size: 24px;
}
header a {
    text-decoration: none;
    color: black;
}
main {
    display: flex;
    justify-content: center;
}
.timer {
    flex-basis: 33%;
    text-align: right;
}
.hs-link {
    flex-basis: 33%;
}
.title {
    flex-basis: 33%;
}
.title h1 {
    font-size: 36px;
    text-align: center;
}

.game-container{
   width: 33%;
   background-color: aliceblue;
   margin-top: 20px;
   border: 5px black solid;
   padding: 10px;
}
.qa-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
}
.highscore-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.highscore-title {
    flex-basis: 100%;
    padding: 10px
}
.highscore-content {
    flex-basis: 100%;
}
.question {
    flex-basis: 100%;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}
.answers {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    text-align: left;
}
.btn {
    flex-basis: 100%;
    text-align: left;
    margin: 5px;
    padding: 5px;
}
.btn:hover {
    background-color: aqua;
}
.start-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.start-info {
    margin-bottom: 5px;
}
.start-btn {
    flex-basis: 50%;
}
.answer-message {
    text-align: center;
    margin-top: 10px;
    border-top: 2px solid black;
    padding-top: 5px;
}
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}
.game-over-container {
    display: inline;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.hide {
    display: none;
}
